*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
     width: 100vw;
     margin: auto;
}
.main-wrap {
    display: flex;
    flex-direction: column;
    width: 1920px;
    margin: auto;
}
.sec-1{
    border-top: 5px solid white;
    display: flex;
    background-color: #2C3E50;
    padding-bottom: 20.5px;
    padding-left: 376px;
    padding-top: 33px;
    width: 100%;
    height: 100%;
}
.sec-1 .logo {
    display: flex;
    flex-direction: row;
    margin-right: 119px;
}
.sec-1 .logo .left{
    margin-right: 20px;
}
.sec-1 .logo .right{
    margin-top: -9px;
}
.sec-1 .logo .up{
    font-family: 'Lato';
    font-size: 23.8px;
    line-height: 33.71px;
    color: #ECF0F1;
}
.sec-1 .logo .down{
    margin-top: -5px;
}
.sec-1 .logo .down-1 {
    font-family: 'Lato';
    font-size: 35.69px;
    line-height: 33.71px;
    color: #ECF0F1;
    letter-spacing: 0.5px;
    margin-left: 1px;
}
.sec-1 .logo .down-2{
    font-family: 'Lato';
    font-size: 35.69px;
    line-height: 33.71px;
    color: #1ABC9C;
    margin-left: -1.5px;
}

.sec-1 .sections {
    
    margin-top: 17px;
}
.sec-1 .sections a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato Black';
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}
.sec-1 .sections a:hover{
    color: #1ABC9C;
}
.sec-1 .sections i{
    margin-left: 5px;
    margin-right: 32px;
    color: white;
}

.sec-1 .search .buy {
    background-color: #1ABC9C;
    border-radius: 77%;
    display: flex;
    margin-top: 13px;
    margin-left: -24px;
    width: 30px;
    height: 30px;
}

.sec-1 .search .search {
    background-color: #2C3E50;
    border-radius: 77%;
    border: 1px solid #FFFFFF;
    display: flex;
    margin-top: -31px;
    margin-left: 16px;
    width: 30px;
    height: 30px;
}

.sec-1 .search i{
    margin-left: 6px;
    margin-top: 8px;
    color: white;
}





/*************section 2 ************************************************/ 





.sec-2 .left-link {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border : 1px solid #FFFFFF;
    margin-left: -50px;
    color: white;
    top: 431px;
    left: 186px;
    padding-left: 17px;
    padding-top: 15px;
    border-radius: 3px;
}
.sec-2 .left-link:hover {
    background-color: #FFFFFF;
    color: black;
}

.sec-2 {
    display: flex;
    background-color: #2C3E50;
    padding-left: 339px;
    padding-top: 12px;
}

.sec-2 .left{
    float: left;
    display: flex;
    margin-right: 256px;
    margin-bottom: 37px;
}
.sec-2 .left .white {
    z-index: 2;
}
.sec-2 .left .black {
    position: absolute;
    display: absolute;
    padding-left: 154px;
    z-index: 1;
}
.sec-2 .right {
    float: left;
    padding-top: 95px;
    padding-left: 5px;
    width: 590px;
}
.sec-2 .active {
    clear: both;
    bottom: -287px;
    right: 938px;
}
.sec-2 h1 {
    font-family: 'Lato light';
    font-size:36px ;
    line-height: 60px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    word-spacing: 0.8px;
    margin-bottom: 36px;
}
.sec-2 .type {
    font-family: 'Lato';
    font-size:90px ;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: -5.5px;
    font-weight: 300;
    margin-right: 15px;
    float: left;
}
.sec-2 .logo{
    border: 2px solid white;
    border-radius: 14px;
    font-family: 'Lato light';
    font-size: 80px;
    line-height: 16px;
    color: #FFFFFF;
    width: 66px;
    height: 63px;
    display: flex;
    float: left;
    margin-top: -20px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 45px;
}
.sec-2 .disc {
    clear: both;
    font-family: 'Lato light';
    font-size:18px ;
    line-height: 30px;
    color: #FFFFFF;
    display: block;
    word-spacing: -1.1px;
    
}

.sec-2 .right-link {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border : 1px solid #FFFFFF;
    margin-left: -50px;
    color: white;
    right: 108px;
    top: 430px;
    border-radius: 3px;
    padding-top: 16px;
    padding-left: 19px;
}
.sec-2 .right-link:hover{
    background-color: #FFFFFF;
    color: black;
}

.sec-2 .active {
    position: absolute;
    display: block;
    bottom: -287px;
    right: 938px;
}
.sec-2 .active img{
    margin-right: 10px;
}
.sec-2 .active img:hover{
background-image: url(../images/active.png);
}








/*******section 3 ***************************************************************/ 






.sec-3 {
    width: 100%;
    background-color: #ECF0F1;
    padding-top: 95px;
    padding-left: 372px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.sec-3 .display:hover > .info ,.sec-3 .display:hover > .buttons{
    background-color: #2C3E50;
    
}
.sec-3 .display:hover > .info .name ,
.sec-3 .display:hover > .info .price
{
    color: #FFFFFF;
}
.sec-3 .featured
{
    margin-bottom: 45px;
}
.sec-3 .featured .text{
    display: inline-block;
    
}
.sec-3 .featured .text .black{
    font-family: 'Lato Black';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
    letter-spacing: 0.3px;
    margin-right: 6px;
}
.sec-3 .featured .text .light{
    font-family: 'Lato Light';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
    letter-spacing: 0.3px;
}

.sec-3 .featured .text span{
    font-family: 'Lato Black';
    font-size: 36;
    line-height: 33;
    color: #34495E;
}
.sec-3 .featured .arrows {
    display: inline-block;
    padding-left: 788px;
}
.sec-3 .featured .arrows span {
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: -1px;
    padding-left: 12px;
    border-radius: 12px;
    color: #A1B1BC;
    
}
.sec-3 .featured .arrows .left {
    margin-right: 7px;
}

.sec-3 .product {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    
}
.sec-3 .product .display {
    margin-right: 30px;

}
.sec-3 .product .display:last-child {
    margin-right: 0px;
}

.sec-3 .product .image {
    width:270px ;
    height:370px ;
    background-color: white;
    border-radius: 2px;
    border-bottom: 1px solid #E6E6E6;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.sec-3 .product .info {
    width: 270px;
    border: 1px solid #E6E6E6;
    background-color: white;
    width: 270px;
}

.sec-3 .product .info .name {
    font-family: 'Lato Bold';
    font-style: bold;
    font-size: 18px;
    line-height: 33px;
    color: #2C3E50;
    display: block;
    margin-top: 10px;
    margin-left: 22px;
    letter-spacing: 0.6px;
}
.sec-3 .product .info .rate {
    margin-left: 22px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.sec-3 .product .info .rate i {
    color: #1ABC9C;
    margin-right: -3px;
}
.sec-3 .product .info .rate #uncheck {
    color: #A1B1BC;
    font-size: 12px;
}
.sec-3 .product .info .price {
    font-family: 'Lato Black';
    font-size: 20px;
    line-height: 33px;
    color: #2C3E50;
    display: block;
    margin-left: 21px;
    margin-top: 9px;
    margin-bottom: 12px;
}
.sec-3 .product .buttons {
    padding-left: 22px;
    display: flex;
    width: 270px;
    padding-top: 19px;
    background-color: white;
    padding-bottom: 22px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid #E6E6E6;
}

.sec-3 .product .buttons div {
    padding-left: 9px;
    padding-right: 0.9px;
    padding-top: 5.5px;
    padding-bottom: 6.5px;
    background-color: #A1B1BC;
    border-radius: 5px;
    color: white;
}

.sec-3 .product .buttons div i {
    font-size: 13px;
}
.sec-3 .product .buttons .add .icon {
    margin-left: -2px;
    font-size: 14px;
}
.sec-3 .product .buttons .add 
{
    float: left;
    margin-right: 16px;
}
.sec-3 .product .buttons div span {
    letter-spacing: -0.5px;
    padding-right: 10.9px;
    
}
.sec-3 .product .buttons div:hover{
    background-color: #1ABC9C;
}

.sec-3 .product .buttons .detail
{
    float: left;
    padding-right: 0.9px;
    padding-left: 14px;
}




/*********** sec-4 ********************************************************/

.sec-4 {
    border: 1px solid #DFE8EA;
    display: flex;
    flex-direction: row;
    margin-right: 375px;
    margin-left: 375px;
    border-radius: 9px;
    margin-bottom: 49px;
}

.sec-4 .logo {
    background-color: #1ABC9C;
    border: 5px solid white;
    border-radius: 73px;
    color: white;
    width: 100px;
    display: inline-block;
    height: 100px;
    margin-left: 31px;
    margin-right: 39.1px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.sec-4 .logo i {
    padding-left: 29px;
    padding-top: 31px;
    font-size: 27px;
}

.sec-4 .text h1 {
    font-family: 'Lato';
    font-size: 24px;
    font-style: bold;
    line-height: 33px;
    color: #34495E;
    padding-top: 25px;
}
.sec-4 .text span{
    font-family: 'Lato';
    font-size: 14px;
    font-style: bold;
    line-height: 24px;
    color: #A1B1BC;
    display: block;
    width : 770px;
    padding-top: 7px;
}
.sec-4 .text{
    margin-right: 6px;
}
.sec-4 .button {
    width: 180px;
    height: 60px;
    background-color: #34495E;
    font-family: 'Lato Black';
    font-size: 15px;
    font-style: bold;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    filter: drop-shadow(0px 3px #2C3E50);
    margin-top: 37px;
    margin-right: 43px;
    margin-bottom: 36px;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 10px;
}











/******** section 5 ************************************************************/




.sec-5{
    display: flex;
    flex-direction: column;
    margin-right: 375px;
    margin-left: 375px;
    margin-bottom: 4px;
}
.sec-5 .up {
    width: 1170px;
    height: 600px;
    background-color: #CCCCCC;
    margin-bottom: 10px;
    position: relative;
}
.sec-5 .up .text {
    position: absolute;
    right: 85px;
    top: 241px;
}
.sec-5 .up .text .head {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}
.sec-5 .up .text .head .txt{
    color :#2C3E50 ;
    font-family: 'Lato Light';
    font-size: 60px;
    line-height: 24px;
    letter-spacing: 1px;
    padding-top: 24px;
    padding-left: 8px;
}
.sec-5 .up .text .head .num {
    height: 65px;
    margin-top: 5px;
    background-color: #17D8B2;
    border-radius: 8px;
    font-size: 60px;
    color: white;
    font-family: 'Lato Black';
    padding-right: 6px;
    padding-left: 6px;
    margin-left: 7px;
    display: block;
}

.sec-5 .up .text .body {
    color: #2C3E50;
    display: block;
    width: 252px;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 36px;
    margin-left: 12px;
    white-space: normal;
}
.sec-5 .up .text .button{
    background-color: #2C3E50;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 36px;
    color: white;
    display: inline-block;
    padding-top: 6.4px;
    padding-right: 27.4px;
    padding-left: 27.6px;
    padding-bottom: 7.6px;
    margin-top: 24px;
    margin-left: 13px;
}
.sec-5 .down {
    display: flex;
    flex-direction: row;
}
.sec-5 .down .product .image{
    width: 383px;
    height: 200px;
    margin-right: 10px;
    background-color: #CCCCCC;
    position: relative;
}
.sec-5 .down .product .image .after {
    border : 2px solid white;
    border-radius: 70px;
    margin: auto;
    position: absolute;
    margin-top: 64px;
    margin-left: 157px;
    z-index: 2;
    font-size: 48px;
    font-family: 'Lato Light';
    line-height: 24px;
    padding: 20px;
    color: white;
    display: none;
}
.sec-5 .down .product:hover > .image .after {
    display: flex;
    z-index: 3;
}
.sec-5 .down .product:hover > .image::after{
    content: '';
    background-color: #1ABC9C;
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.sec-5 .down .product .image:last-child{
    margin-right: 0px;
}
.sec-5 .down .product .details {
    width: 383px;
    background-color: #ECF0F1;
}
.sec-5 .down .product:hover > .details {
    background-color: #2C3E50;
}
.sec-5 .down .product .details h1{
    padding-top: 25px;
    padding-left: 31px;
    font-family: 'Lato';
    font-size: 18px;
    font-style: bold;
    line-height: 24px;
    color: #2C3E50;
}
.sec-5 .down .product:hover > .details h1{
    color: #FFFFFF;
}
.sec-5 .down .product .details span{
    padding-right: 30px;
    padding-bottom: 27px;
    padding-top: 9px;
    padding-left: 31px;
    font-family: 'Lato';
    font-size: 14px;
    font-style: bold;
    line-height: 24px;
    color: #A1B1BC;
    display: block;
}
.sec-5 .down .product .footer {
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 33px;
    background-color: #1ABC9C;
    font-family: 'Myriad Pro';
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    width: 383px;
}
.sec-5 .down .product:hover > .footer{
    background-color: #1E2A37;
    color: #FFFFFF;
}












/************ section 6 *******************************************************************/



.sec-6 {
    width: 100%;
    padding-top: 95px;
    padding-left: 372px;
    padding-bottom: 100px;
    margin-bottom: 95px;
}
.sec-6 .wrap{
    display: flex;
    flex-direction: column;
    width: 1920px;
    margin: auto;
}
.sec-6 .featured
{
    margin-bottom: 42px;
}
.sec-6 .featured .text{
    display: inline-block;
    
}
.sec-6 .featured .text .black{
    font-family: 'Lato Black';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
    letter-spacing: 0.3px;
    margin-right: 6px;
}
.sec-6 .featured .text .light{
    font-family: 'Lato Light';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
    letter-spacing: 0.3px;
}

.sec-6 .featured .text span{
    font-family: 'Lato Black';
    font-size: 36;
    line-height: 33;
    color: #34495E;
}
.sec-6 .featured .arrows {
    display: inline-block;
    padding-left: 814px;
}
.sec-6 .featured .arrows span {
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: -1px;
    padding-left: 12px;
    border-radius: 12px;
    color: #A1B1BC;
    
}
.sec-6 .featured .arrows .left {
    margin-right: 7px;
}

.sec-6 .product {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    
}
.sec-6 .product .col-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 29px;
}
.sec-6 .product .col-2{
    display: flex;
    flex-direction: row;
}
.sec-6 .product .display {
    margin-right: 30px;

}
.sec-6 .product .display:last-child {
    margin-right: 0px;
}
.sec-6 .product .display-1 .header{
    font-family: 'Lato';
    font-size: 15px;
    line-height: 33px;
    color: #FFFFFF;
    background-color: #E46960;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: block;
    margin-left: 1px;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 9px;
    position: relative;
}
.sec-6 .product .display-1 .image {
    height: 317px;
}
.sec-6 .product .display-1 .header .logo{
    position: absolute;
    right: 19px;
    top: 18px;
}

.sec-6 .product .display-2 .header{
    font-family: 'Lato';
    font-size: 15px;
    line-height: 33px;
    color: #FFFFFF;
    background-color: #21C2F8;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: block;
    margin-left: 1px;
    padding-left: 21px;
    padding-top: 10px;
    padding-bottom: 9px;
    position: relative;
}
.sec-6 .product .display-2 .image {
    height: 317px;
}
.sec-6 .product .display-2 .header .logo{
    position: absolute;
    right: 19px;
    top: 18px;
}

.sec-6 .product .image {
    width:270px ;
    height:370px ;
    background-color: white;
    border-radius: 2px;
    border-bottom: 1px solid #E6E6E6;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.sec-6 .product .info {
    width: 270px;
    border: 1px solid #E6E6E6;
    background-color: white;
    width: 270px;
}

.sec-6 .product .info .name {
    font-family: 'Lato Bold';
    font-style: bold;
    font-size: 18px;
    line-height: 33px;
    color: #2C3E50;
    display: block;
    margin-top: 10px;
    margin-left: 22px;
    letter-spacing: 0.6px;
}
.sec-6 .product .info .rate {
    margin-left: 22px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.sec-6 .product .info .rate i {
    color: #1ABC9C;
    margin-right: -3px;
}
.sec-6 .product .info .rate #uncheck {
    color: #A1B1BC;
    font-size: 12px;
}
.sec-6 .product .info .price  {
    font-family: 'Lato Black';
    font-size: 20px;
    line-height: 33px;
    color: #2C3E50;
    display: block;
    margin-left: 21px;
    margin-top: 9px;
    margin-bottom: 12px;
}

.sec-6 .product .info .price .button {
    background-color: #21C2F8;
    background-color: #21C2F8;
    margin-left: 8px;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
}
.sec-6 .product .col-2 .info .price .button{
    background-color: #21C2F8;
    margin-left: 8px;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;

}
.sec-6 .product .info .price .add-item {
    
    margin-left: -7px;
    color: white;
    padding-bottom: 1px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
}
.sec-6 .product .display .info .price .button:hover>
.sec-6 .product .display .info .price .add-item{
    background-color: #2C3E50;
}
.sec-6 .product .buttons {
    padding-left: 22px;
    display: flex;
    width: 270px;
    padding-top: 19px;
    background-color: white;
    padding-bottom: 22px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid #E6E6E6;
}

.sec-6 .product .buttons div {
    padding-left: 9px;
    padding-right: 0.9px;
    padding-top: 5.5px;
    padding-bottom: 6.5px;
    background-color: #A1B1BC;
    border-radius: 5px;
    color: white;
}

.sec-6 .product .buttons div i {
    font-size: 13px;
}
.sec-6 .product .buttons .add .icon {
    margin-left: -2px;
    font-size: 14px;
}
.sec-6 .product .buttons .add 
{
    float: left;
    margin-right: 16px;
}
.sec-6 .product .buttons div span {
    letter-spacing: -0.5px;
    padding-right: 10.9px;
    
}
.sec-6 .product .buttons div:hover{
    background-color: #1ABC9C;
}

.sec-6 .product .buttons .detail
{
    float: left;
    padding-right: 0.9px;
    padding-left: 14px;
}









/************* section 7 **************************************************************/




.sec-7 {
    width: 100%;
    padding-left: 372px;
    margin-bottom: 100px;
    background-color: #ECF0F1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1920px;
    margin: auto; 
    padding-bottom: 60px;
}

.sec-7 .featured
{
    margin-top: 67px;
    margin-bottom: 42px;
}
.sec-7 .featured .text{
    display: inline-block;
    
}
.sec-7 .featured .text .black{
    font-family: 'Lato Black';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
    letter-spacing: 0.3px;
    margin-right: 2px;
}
.sec-7 .featured .text .light{
    font-family: 'Lato Light';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
    letter-spacing: 0.3px;
}

.sec-7 .featured .text span{
    font-family: 'Lato Black';
    font-size: 36px;
    line-height: 33px;
    color: #34495E;
}
.sec-7 .featured .arrows {
    display: inline-block;
    padding-left: 870px;
}
.sec-7 .featured .arrows span {
    border: 1px solid #CDD9E1;
    background-color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: -1px;
    padding-left: 12px;
    border-radius: 12px;
    color: #A1B1BC;
    
}
.sec-7 .featured .arrows .left {
    margin-right: 7px;
}
.sec-7 .featured .arrows .left:hover{
    background-color: #2C3E50;
}
.sec-7 .featured .arrows .right:hover{
    background-color: #2C3E50;
}
.sec-7 .body {
    display: flex;
    flex-direction: column;
    background-color: #ECF0F1;
}
.sec-7 .body .col-1, .sec-7 .body .col-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.sec-7 .body .blog {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 30px;
}


.sec-7 .body .blog .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 2;

}
.sec-7 .body .blog .icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}
.sec-7 .body .blog .icons .icon:last-child{
    margin-bottom: 0px;
}
.sec-7 .body .blog .icons .row-1 {
    width: 40px;
    height: 40px;
    background-color: #1ABC9C;
    color: white;
    
}
.sec-7 .body .blog .icons .row-2 {
    width: 40px;
    height: 40px;
    background-color: #3A3E4A;
    color: white;
}
.sec-7 .body .blog .icons .row-3 {
    width: 40px;
    height: 40px;
    background-color: #686D80;
    color: white;

}
.sec-7 .body .blog .icons .hist {
    width: 40px;
    height: 71px;
    background-color: #686D80;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}
.sec-7 .body .blog .icons .hist .day{
    margin-top: -8px;
}
.sec-7 .body .blog .icons .hist .month{
    font-size: 14px;
    
}
.sec-7 .body .blog .image {
    width: 260px;
    height: 194px;
    background-color:#CCCCCC; 
    left: 0;
    z-index: 1;
}
.sec-7 .body .blog .image img{
    display: block;
    z-index: 2;
    padding-left: 252px;
    padding-top: 21px;
}
.sec-7 .body .blog .right .background {
    display: block;
    background-color: white;
    z-index: 2;
    width: 270px;
    height: 194px;
    left:300px;
}

.sec-7 .body .blog .right .background h1 {
    padding-top: 15.4px;
    padding-left: 19px;
    font-family: 'Lato';
    font-style: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2C3E50;
}
.sec-7 .body .blog .right .background .head {
    font-family: 'Lato';
    font-size: 15px;
    line-height: 24px;
    color: #2C3E50;
    padding-left: 19px;
}
.sec-7 .body .blog .right .background .text {
    font-family: 'Lato';
    font-size: 15px;
    line-height: 24px;
    color: #A1B1BC;
    padding-left: 19px;
    padding-top: 10px;
}









/*************** section 8 ************************************************************/



.sec-8{
    background-image: url(../images/background.png);
    width: 100%;
    margin-bottom: 100px;
    width: 1920px;
    margin: auto; 
    padding-left: 372px;
    display: flex;
    flex-direction: row;
}
.sec-8 .top{
margin: auto;
}
.sec-8 .top h1{
    font-family: 'Lato';
    font-style: bold;
    font-size:30px;
    line-height: 20px;
    color: white;
    padding-top: 100px;
    margin-left: 442px;
    letter-spacing: 0.5px;
    word-spacing: -4.02px;
    margin-bottom: 14px;
}
.sec-8 .top h1 .light {
    font-family: 'Lato Light';
    font-size:30px;
}

.sec-8 .top .text{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 24px;
    color: white;
    width: 630px;
    margin-left: 351px;
    padding-right: 147px;
}
.sec-8 .top .text-2{
    margin-left: 406px;
    margin-bottom: 17px;
}
.sec-8 .top .buttons{
    margin-left: 412px;
    margin-bottom: 75px;
}
.sec-8 .top .button {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Lato Black';
    text-transform: uppercase;
    
}
.sec-8 .top .more {
    display: inline-block;
    border: 1px solid #FFFFFF;
    color: white;
    margin-right: 10px;
    padding-right: 25px;
}
.sec-8 .top .purchase{
    display: inline-block;
    background-color: #21C2F8;
    color: white;
}

.sec-8 .right{
    border: 1px solid white;
    border-radius: 70px;
    display: block;
    width:  88px;
    height: 60px;
    color: white;
    font-size: 31px;
    margin-right: 206px;
    margin-top: 308px;
    padding-top: 11px;
    padding-left: 19px;
}
.sec-8 .left{
    margin-left: -172px;
    margin-top: 308px;
    padding-top: 11px;
    padding-left: 19px;
    font-size: 31px;
    border: 1px solid white;
    border-radius: 70px;
    display: block;
    width: 93px;
    height: 60px;
    color: white;
    margin-right: 112px;
}
.sec-8 .bottom .bottom{
    margin-bottom: 43px;
}







/******************* section 9 ***********************************************/





.sec-9{
    background-color: #ECF0F1;
    width: 100%;
    width: 1920px;
    margin: auto; 
    padding-left: 372px;
    display: flex;
    flex-direction: row;
    padding-top: 87px;
    padding-right: 374px;
    padding-bottom: 100px;
}
.sec-9 .col .head {
    margin-bottom: 42px;
}

.sec-9 .col .head .black {
    color: #34495E;
    font-family: 'Lato Black';
    font-size: 36px;
    line-height: 33px;
}
.sec-9 .col .head .light{
    color: #34495E;
    font-family: 'Lato Light';
    font-size: 36px;
    line-height: 33px;
}
.sec-9 .left {
    margin-right: 30px;
}

.sec-9 .left .our{
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}

.sec-9 .left .our .left {
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 398px;
    display: inline-block;
}
.sec-9 .left .our .right {
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    border-left: 1px solid #E5E5E5;
}

.sec-9 .left .main{
    border: 1px solid #E5E5E5;
    display: flex;
    background-color: #FFFFFF;
    
}
.sec-9 .left .main .image{
    float: left;
    width: 80px;
    height: 80px;
    background-color: #CCCCCC;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 20px;
    display: inline-block;
}

.sec-9 .left .main .text {
    float: right;
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 24px;
    padding-top: 21px;
    padding-left: 44px;
    margin-right: 41px;
    
}

.sec-9 .right .bottom .select{
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}

.sec-9 .right .bottom .select span {
    padding-left: 20px;
    padding-right: 20px;
}

.sec-9 .right .bottom .select span:hover{
    color: #1ABC9C;
    border-top: 5px solid #1ABC9C;
}

.sec-9 .right .bottom .main {
    border: 1px solid #E5E5E5;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 24px;
}

.sec-9 .right .bottom .main .main-up {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 20px;
}
.sec-9 .right .bottom .main .main-up .txt-up{
    padding-left: 25.5px;
}

.sec-9 .right .bottom .main .txt-down {
    padding-left: 33.5px;
    padding-bottom: 41px;
}

.sec-9 .bottom .select span {
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 398px;
    display: inline-block;
    padding-right: 90px;
}